*{box-sizing: border-box;padding: 0; margin: 0;}
.TicTacToeBoxSquare {
    width: 304px;
    height: 304px;
    border: 2px solid black; 
    padding: 0px;
}
.TicTacToeBox {
    float: left;
    margin: 0px;
    padding: 10px;
    width: 100px;
    height: 100px;
    /*margin: 10px 10px 10px 10px;*/
    border: 1px dotted red;
    font-size: 46px;
}
.TicTacToeClear {
    clear: both;
}
#buttonSt {
    margin-top: 5px;
    width: 200px;
    min-height: 50px;
    background: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:24px;
}
#buttonSt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
#buttonNext {
    margin-top: 5px;
    min-height: 50px;
    width: 90px;
    padding: 15px 12px;
    text-align: center;
    display: inline-block;
    font-size:24px;
    border: none;
}
#buttonNext:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }